*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
   width: 100vw;
    height:100vh ;
    overflow-x: hidden;
    scroll-behavior: smooth;
    
}

.landing-container{
    width: 100vw;
    height: 120vh;
    position: relative;
    background: url(images/logo/pexels-belle-co-847393.jpg);
    background-size:cover ;
    overflow-y: auto;
}
.landing-container .logo{
    display: flex;
    justify-content: space-between; 
}

.landing-container .logo h1{
    top: 0px;  
    font-size: 7em;   
    position: absolute;  
    margin-left: 30px;
    margin-top: 10px;
    color: transparent;
    -webkit-text-stroke: 1px #16d0ff;
    
}

.landing-container .logo h1:nth-child(1)
{
color: transparent ;
-webkit-text-stroke: 1px #16d0ff;
}

.landing-container .logo h1:nth-child(2)
{
color: #16d0ff;
animation: animate 4s ease-in-out infinite;
}

@keyframes animate{
    0%,100%{
        clip-path: polygon(0% 49%, 16% 40%, 32% 46%, 43% 50%, 65% 54%, 83% 49%, 100% 43%, 100% 100%, 0% 99%);
    }
    50%{
        clip-path: polygon(0 51%, 20% 57%, 32% 51%, 48% 61%, 62% 63%, 83% 56%, 96% 60%, 100% 100%, 0% 99%);
    }
    75%{
        clip-path: polygon(0 70%, 18% 68%, 32% 51%, 45% 60%, 62% 63%, 77% 66%, 90% 60%, 100% 100%, 0% 99%);

    }
}

.landing-container .logo h4{
    top: 0;  
    font-size: 3em;  
    position: absolute;
    margin-left: 32px;
    margin-top: 130px;
    color: #fff;  
}

.landing-container .explore{
    position: absolute;
    top: 0;
    right: 0;
    width: 500px;
    height: 200px;
    margin-right: 80px;  
    margin-top: 400px;
    font-size: 18px;
    color: #fff;
    line-height: 25px;
  z-index: 10;
  
}

.landing-container .explore::first-letter{
    color: #16d0ff;
    font-size: 50px;
    font-weight: 600;
    font-style: italic;   
}

.explore button{
    width: 150px;
    
    height: 50px;
    margin-top: 10px;
    font-size: 20px;
    background-color: #000;
    color: #16d0ff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    font-weight: 600;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    
}

.explore button:hover{
    background: linear-gradient(90deg, #0072ff 0%, #00d4ff 100%);
    animation: animated 2s ease-in-out infinite;
    color: #fff;
    
}

@keyframes animated{
    0%,100%{

        clip-path: polygon(0% 15%, 19% 29%, 41% 23%, 50% 19%, 65% 22%, 73% 28%, 84% 26%, 98% 18%, 100% 100%, 0% 99%);
    }
    50%{
        clip-path: polygon(15% 6%, 0% 12%, 42% 5%, 66% 8%, 82% 8%, 99% 1%, 99% 99%, 0% 100%, 0% 14%);
    }
    75%{
        clip-path: polygon(0% 11%, 8% 16%, 19% 23%, 39% 29%, 62% 27%, 73% 23%, 83% 16%, 95% 13%, 99% 13%, 99% 100%, 0% 99%);

    }

}

.bubbles img{
    width: 50px;
    animation: bubble 7s linear infinite;
}
.bubbles{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    bottom: -20px !important;
    position: absolute;
}

@keyframes bubble{
    0%{
        transform: translateY(0);
        opacity: 1;
        
    }
    50%{
       
        opacity: 1;
        
    }
    70%{
      
        opacity: 1;
        
    }
    100%{
        transform: translateY(-80vh) ;
        opacity: 0;
    }
}

.bubbles img:nth-child(1){
    animation-delay: 2s;
    width: 20px;
}
.bubbles img:nth-child(2){
    animation-delay: 3.2s;
    width: 32px;
}
.bubbles img:nth-child(3){
    animation-delay: 1s;
    width: 42px;
}
.bubbles img:nth-child(4){
    animation-delay: 2.5s;
    width: 52px;
}
.bubbles img:nth-child(5){
    animation-delay: 4s;
    width: 18px;
}
.bubbles img:nth-child(6){
    animation-delay: 1.7s;
    width: 32px;
}
.bubbles img:nth-child(7){
    animation-delay: 4.8s;
    width: 12px;
}
.bubbles img:nth-child(8){
    animation-delay: 2.8s;
    width: 50px;
    border-radius: 10px;
    height: 90px;
}
.bubbles img:nth-child(9){
    animation-delay: 3.8s;
    width: 40px;
}
.bubbles img:nth-child(10){
    animation-delay: 4.8s;
    width: 12px;
}
/* ---------------
-------------------------------------------------------------------------------- scrol behaviours */
::-webkit-scrollbar{

    width: 10px;
    
}

::-webkit-scrollbar-track{
    background: #00d4ff;
    border-radius: 30px;

}
::-webkit-scrollbar-thumb{
    background:linear-gradient(90deg, #0072ff 0%, #00d4ff 100%);
   
}



/* ------------------------------------------------------------------- media query for landing site */

@media (max-width:1270px){
    .landing-container .logo h1{
        top: 0px;  
        font-size: 6em;
    }

        .landing-container .logo h4{
            top: 0;  
            font-size: 2.8em;  
        }  
        
        .landing-container .explore{
            position: absolute;
            width: 500px;
            height: 200px;
            margin-right: 20px;  
            margin-top: 320px;
            font-size: 18px;
            color: #fff;
            line-height: 25px;
          z-index: 10;
          
        }
    }

    @media (max-width:1132px){

        .landing-container .logo h1{
            top: 0px;  
            font-size: 5em;
        }
        .landing-container .logo h4{
            top: 0;  
            font-size: 2.4em;  
            margin-top: 90px;
        }  
        .landing-container .explore{
            margin-right: 20px;  
            margin-top: 290px;
        }
    

    }

    @media (max-width:1000px){
     
        .landing-container{
            background: url(images/logo/pexels-ivan-babydov-7787761.jpg);
            background-size:cover ;
    overflow-y: auto;
        }


        .landing-container .explore{
            
            left: 0;
            margin-left: 30px;
        }

      #explore-text{
        margin-top: 50px;
      }
    
    }

    @media (max-width:735px){

        .landing-container .logo h1{
            font-size: 4em;
        }

        .landing-container .logo h4{
          
            font-size: 2em;  
           
        }  

        .explore button{
            background-color: #16d0ff;
            color: #000;

        }

    }

    @media (max-width:581px){
        .landing-container .logo h1{
            font-size: 3em;
        }

        #explore-text {
            margin-top: 180px;
        }

        .landing-container .logo h4{
          
            font-size: 1.8em;  
            margin-top: 70px;
           
        }  
        .landing-container .explore{
          
            margin-right: 80px;  
            margin-top: 200px;
            font-size: 16px;
            
          
          
        }
        
        .landing-container .explore::first-letter{
            color: #16d0ff;
            font-size: 50px;
            font-weight: 600;
            font-style: italic;   
        }

        .landing-container .explore::first-letter{
            font-size: 40px;
        }


    }

    @media (max-width:535px){
    
        button#explore-text {
            margin-left: 196px;
            margin-top: 25px;
        }
      

        .landing-container .explore {
            max-width:300px ;
            text-align: left;
            vertical-align: left;
            margin-left: 5%;
            margin-top:150px;
        }

    }
    @media (max-width:450px){
        button#explore-text{
            margin-left: 150px;
            margin-top: 50px;
        }

        .explore span button{
            margin-left: 150px !important;
        }

        .landing-container .logo h1{
            font-size: 2.5em;
        }

        .landing-container .logo h4{
          
            font-size: 1.4em;  
            margin-top: 60px;
           
        }  
       
    }

    @media (max-width:400px){
        button#explore-text{
            margin-left: 80px;
            margin-top: 50px;
        }

        .explore span button{
            margin-left: 80px !important;
        }

    }

    
    @media (max-width:380px){
        button#explore-text{
            margin-left: 80px;
            margin-top: 50px;
        }

        .explore span button{
            margin-left: 80px !important;
        }
        .landing-container .logo h1{
            font-size: 2em;
            margin-left:30px ;
        }

        .landing-container .logo h4{
          
            font-size: 1.2em;  
            margin-top: 50px;
           
        }  

        .landing-container .explore{
          
            
            font-size: 14px;
            margin-left: 30px;
     
        }

    }